@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    background-color: rgb(52, 52, 147);
    flex-direction: column;
    font: normal 18px Arial;
    gap: 32px;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.381);
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: 500px;
}

section > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

section > div > label {
    margin: 5px 0px;
}

section > div > input {
    margin-bottom: 10px;
}

button {
    margin: 10px 0px;
}

footer {
    padding: 20px;
    color: white;
    text-align: center;
}